@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Titan+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.bodyRomb {
    height: auto;
    background-image: url(../img/mundoRomboedro.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    background-color:rgba(255, 255, 255, 0.85) ;
    margin-right: 180px;
    border-radius: 10px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    display: flex;
    flex-wrap: nowrap;
    margin: 10px;
    font-family: "Titan One";
    color: aliceblue;
    text-align: center;
}

img {
    width: 200px;
    height: auto;
}

.caixaPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    background-color: rgba(255, 255, 255, 0.85);
    margin: 30px;
    padding: 10px;
    border-radius: 10px;
}

div.infForma {
    width: 550px;
    background-color: aliceblue;
    border-radius: 10px;
    margin: 10px;
    padding: 8px;
}

div.elementos {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    background-color: aliceblue;
    padding: 3px;
    margin: 10px;
    border-radius: 10px;

}

ul {
    list-style: none;
}

a{
   text-decoration: none;
   color: aliceblue;
}

p,
li,
label,
button,
h2,
span, a {
    font-family: "Lato", sans-serif;
}

nav>a{
    color: black;
}

section.caixaCalculo {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    flex-direction: column;
    height: auto;
    background-color: aliceblue;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}

label {
    margin: 2px;
}

input {
    margin: 2px;
}

button {
    background-color: rgba(255, 255, 255, 0.85);
    height: 30px;
    border-radius: 10px;
}

.resultCalc {
    background-color: rgba(0, 0, 0, 0.28);
    width: 100px;
}